@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inconsolata", monospace;
}

#c {
  position:fixed;
  left:0;
  top:0;
  z-index: -1;
  /* filter: blur(2px); */
}

/* mac terminal */
/*
  ========================================
  Reset
  ========================================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}


/*
  ========================================
  Basic
  ========================================
*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #19161e;
  color: #fff;
}


/*
  ========================================
  Layout
  ========================================
*/

.container {
  padding: 2.5rem 2rem;
}


/*
  ========================================
  Component
  ========================================
*/

.mac-terminal {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 110%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-bottom: 1px solid rgba(255,255,255,.3);
  padding: 0 1.4rem;
  &__op {
    display: flex;
    align-items: center;
    &-icon {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: .7rem;
      }
      &--red {
        background-color: #FF544D;
        border: 1px solid #DA3C37;
      }
      &--yellow {
        background-color: #FFB429;
        border: 1px solid #F0A318;
      }
      &--green {
        background-color: #25C63A;
        border: 1px solid #12A025;
      }
    }
  }
  &__title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  &__empty {
    width: 5.6rem;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body {
  font-size: 1.2rem;
}
.body__row {
  margin-top: 1.3rem;
  line-height: 1.7rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}
.body__row-arrow {
  width: 0.8rem;
  height: 0.6rem;
  background-color: #40e800;
  clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
  margin-right: 0.9rem;
}
.body__row-folder {
  color: #56f2e6;
  margin-right: 1rem;
}
.body__row-git--label {
  color: #2d9cdb;
}
.body__row-git--branch {
  color: #eb5757;
}
.body__row-git--branch-detail {
  color: #f2c94c;
}
.body__row-git--branch-time {
  color: #27ae60;
}
.body__row-git--author {
  color: #2d9cdb;
}
.body__row-result {
  margin-left: 1rem;
}
.body__row-cursor {
  width: 0.5rem;
  height: 1.5rem;
  background-color: #bb6bd9;
  border: 1px solid #bb6bd9;
  animation: flash 1s ease-in-out infinite;
}


a {
  color: inherit;
  text-decoration: none;
}

/* PFP */
:root {
  --color-primary: #ee75d2;
  --color-secondary: #75d8ee;
  --color-tertiary: #deee75;
  --color-quaternary: #9375ee;
  --color-surface: #271c22;
  --brightness: 1;
}
#output {
  position: relative;
  text-align: center;
  border-radius: 2rem;
  font-family: "SF Mono", monospace;
  overflow: hidden;
  filter: drop-shadow(
      0 0 10rem color-mix(in srgb, var(--color), transparent 20%)
    )
    brightness(var(--brightness));
  transition: filter 0.3s linear;
  white-space: nowrap;
  background: black;

  div,
  span {
    white-space: nowrap;
  }
}

#input,
#prerender {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

/* // center at bottom */
a.labs-follow-me {
  left: 2rem;
  right: 2rem;
  bottom: 1rem;
  top: unset;
  text-align: center;
}

* {
  box-sizing: border-box;
}

:root {
  --tp-base-background-color: var(--color-surface);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: var(--color-secondary);
  --tp-button-background-color-active: hsla(230, 7%, 85%, 1);
  --tp-button-background-color-focus: hsla(230, 7%, 80%, 1);
  --tp-button-background-color-hover: hsla(230, 7%, 75%, 1);
  --tp-button-foreground-color: hsla(230, 7%, 17%, 1);
  --tp-container-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-container-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-container-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-container-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-container-foreground-color: hsla(230, 7%, 75%, 1);
  --tp-groove-foreground-color: hsla(230, 7%, 75%, 0.1);
  --tp-input-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-input-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-input-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-input-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-input-foreground-color: var(--color-primary);
  --tp-label-foreground-color: hsla(230, 7%, 75%, 0.7);
  --tp-monitor-background-color: hsla(230, 7%, 0%, 0.2);
  --tp-monitor-foreground-color: hsla(230, 7%, 75%, 0.7);
}

