@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.main {
  display:grid;
  justify-content: center;
  width: 100%;
  height: 1700px;
  padding: 20px;
}

.infos {
  display: grid;
  justify-content: center;
  margin-top: 2vw;
  transition: 0.5s all;
  border-radius: 10px;
  padding: 50px;
  margin: 50px 0px 50px 0px;
  width: 100%;
  color: white;
}

.pfps {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.pfps img {
  margin-right: 20px;
}

/* .infos:hover {
  scale: 1.05;
} */

/* inside of infos */

/* .act {
  width: 200px;
  text-overflow: initial;
  height: 340px;
  margin: auto;
  box-shadow: 0 0 15px 2px #7408a1;
  border-radius: 10px;
} */

.act {
  object-fit: fill;
  width: 500px;
  height: 500px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-top: 25px;
  font-family: "CourierPrime", monospace; 
  font-weight: 700;
}

.infoTop {
  font-weight: 700;
  font-size:20px;
  margin-top:70px;
}

.infoTop pre{
  font-size: 2.5px;
  text-align: center;
  color: #39FF14;
}

.alts {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.alts a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 10px 0px 10px;
  margin-left: 5px;
  font-size: 1px;
  color:#39FF14;
}

/* dexpaid */

.dexPaid {
  margin-top: 50px;
  display: grid;
  justify-self: center;
  box-shadow: 0 0 15px 2px #7408a1;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  width: 40vw;
}

/* CA */

.contractAddress {
  margin-top: 50px;
  display: grid;
  justify-self: center;
  box-shadow: 0 0 15px 2px rgb(114, 1, 1);
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  width: 40vw;
}

/* pump */

.pump {
  margin-top: 50px;
  display: grid;
  justify-self: center;
  justify-content: center;
  background-color: black;
  box-shadow: 0 0 15px 2px rgb(35, 35, 35);
  border-radius: 10px;
  padding: 10px;
  width: 40vw;
}

.pumpTitle {
  background: linear-gradient(90deg, #262626, #000000);
  padding: 5px;
  text-align: center;
  margin: 10px;
}

/* ascii */

.ascii {
  font-family: monospace;
  white-space: pre;
  color: #39FF14;
  font-size: 16px; /* Adjust as needed */
  line-height: 1.1; /* Fine-tune to adjust vertical spacing */
  text-align: center;
  overflow: hidden; /* Prevents unexpected scroll */
  margin-top: 60px;
  margin-bottom: -40px;
  font-size: 5px;
  /* background-color: black; */
}

/* thumb gif */

.thumbGif {
  width: 50%;
  border-radius: 20px;
  margin-top: -50px;
}

/* photo shoot */

.photoShoot {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  width: 100%;
}

.photoShootTitle {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  font-size:5px;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #39FF14;
}

.photoShootParent {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoShootChild {
  width: 10vw;
  margin: 10px;
  border-radius: 20px;
}

/* mobile */

@media screen and (max-width: 1000px) {
  .main{
    scale: 0.5;
    height: 200px;
  }

  .ascii {
    display: none;
  }

  .infoTop pre{
    font-size: 2.1px;
    font-weight: lighter;
  }

  .photoShootParent {
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    flex-basis: 50%;
  }

  .thumbGif {
    width: 100%;
  }

  .photoShootChild {
    width: 20%;
    border-radius: 20px;
  }

  .photoShootTitle {
    margin-top: 100px;
  }

  .act {
    object-fit: fill;
    width: 700px;
    height: 700px;
  }
}

